.App {
  text-align: center;
}

.App-header-content {
  padding-top: 7vh;
  padding-bottom: 0vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 30vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff02f7;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  text-align: left;
  padding-left: 1em;
  list-style: circle;
}

ol {
  text-align: left;
  
}



nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  background-image: -webkit-linear-gradient(135deg, #CB5EEE, #4BE1EC);
  margin-bottom: 20px;
  font-size: larger;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  cursor: pointer;
  color: #343a40; 
  text-decoration: none;}

/* .btn-dark {
  background-color: black !important;
} */

.current {
  border-bottom: 4px solid white;
  font-weight: bolder;
}

.main {
  background-color: white;
}


.row{
  /* align-items: center; */
  padding-bottom:2rem;
}

.col {
  padding-bottom: 2rem;
}

.dark-purple-card {
  background-color: #4b00ae;
  background-image: -webkit-linear-gradient(135deg, #9160ca, #4b00ae);
  border-color: white !important;
  border-radius:1.5rem !important;
  color: white;
  height: 100% !important;
}

.dark-blue-card {
  background-color: #4b00ae;
  background-image: -webkit-linear-gradient(135deg, #2eefff, #3a88e7);
  border-color: white !important;
  border-radius:1.5rem !important;
  color: white;
  height: 100% !important;
}

.dark-pink-card {
  background-color: #4b00ae;
  background-image: -webkit-linear-gradient(135deg, #d83ef4, #672772);
  border-color: white !important;
  border-radius:1.5rem !important;
  color: white
}

.dark-indigo-card {
  background-color: #4b00ae;
  background-image: -webkit-linear-gradient(135deg,#6900F2, #3c008b);
  border-color: white !important;
  border-radius:1.5rem !important;
  color: white
}

.goal-progress-header {
  text-align: left;
  padding-left: 2em;
  padding-right:2em;
}
